@charset "utf-8";
@import "../lib/hotcss-master/src/px2rem.scss";

$designWidth:750;

.container{

    .confirmorder-title{
        text-align: center;
        margin: px2rem(20) px2rem(30);
        position: relative;
        .iconfont{
            color: grey;
            font-size: px2rem(36);
            position: absolute;
            left:0;
        }
        h2{
            font-size: px2rem(36);
            font-weight: 700;
        }
    }

    .confirmorder-top{
        .admin-desc{
            display: flex;
            padding: px2rem(70) px2rem(30) px2rem(30) px2rem(16);
            .admin-left{
               font-size: px2rem(120);
               color: #03a9f4c4;
            }
            .admin-right{
                flex: 1;
                padding: px2rem(10) 0 px2rem(10) px2rem(20);
               .admin-right-up{
                   display: flex;
                   justify-content: space-between;
                   font-size: px2rem(34);
                   padding-bottom: px2rem(20);
                   .username{
                    font-weight: 700;
                   }
               }
               .admin-right-down{
                  font-size: px2rem(24);
                  color: gray;
               }
            }
        }
        .admin-border{
            border-bottom: px2rem(16) solid #9e9e9e38;
            ul{
                padding-left:px2rem(20);
                overflow: hidden;
                li{
                    float: left;
                    display: block;
                    height: px2rem(8);
                    width: px2rem(18);
                    transform: skewX(-40deg);
                    margin-right: px2rem(18);
                }
                li:nth-child(odd){
                    background-color: red;
                }
                li:nth-child(even){
                    background-color: #2196f3;
                }
            }
        }
    }

    .confirmorder-middle{
        .prodctdesc-title{
            margin-left: px2rem(30);
            font-size: px2rem(34);
            padding: px2rem(30) 0;
            border-bottom: px2rem(2) solid #9e9e9e38;
            .iconfont{
                font-size: px2rem(34);
                font-weight: 700;
            }
        }
        .prodctdesc-text{
            display: flex;
            justify-content: space-between;
            padding: px2rem(20) px2rem(30) 0 px2rem(30);
            img{
                width: px2rem(130);
                height: px2rem(130);
            }
            .text-center{
                flex: 1;
                margin: px2rem(20) 0 px2rem(10) px2rem(20);
                p{
                    font-size: px2rem(32);
                    padding-bottom: px2rem(10);
                }
                em{
                    font-size: px2rem(28);
                    color: gray;
                }
            }
            .text-right{
                padding-top: px2rem(20);
                font-size: px2rem(32);
            }
        }
        .clearing{
            display: flex;
            margin-left: px2rem(30);   
            padding: px2rem(30) px2rem(30) px2rem(30) 0;    
            justify-content: space-between;
            align-items: center;
            font-size: px2rem(28);    
            .desc{
                letter-spacing: px2rem(2);
            }  
            .price{
                letter-spacing: px2rem(-3);
            }
            .actualprice{
                color: red;
                letter-spacing: px2rem(-1);
            }
            .clearing-box{
               color: red;
               .icon-hongbao{
                 font-size: px2rem(34);  
                 vertical-align: middle;
               }
               .icon-gt{
                 font-size: px2rem(26);  
                 color: gray; 
               }
            }

        }
        .prodctdesc-freight,.prodctdesc-coupon{
            border-bottom: px2rem(2) solid #9e9e9e38;
        }
    }

    .confirmorder-bottom{
        margin-top: px2rem(36);
        padding-top: px2rem(80);
        height: px2rem(376);
        background-color: #9e9e9e38;
        text-align: center;
        button{
            background-color: #f44336de;
            color: white;
            border:none;
            padding: px2rem(26) px2rem(230);
            font-size: px2rem(32);
            border-radius: px2rem(40);
            letter-spacing: px2rem(1);
        }
        button:focus{
            outline: none;
            box-shadow: inset 0 px2rem(2) px2rem(2) rgba(0, 0, 0, .075), 0 0 5px rgba(102, 175, 233, 0.6);
        }
    }
}