@charset "utf-8";
@import "../lib/hotcss-master/src/px2rem.scss";

$designWidth:750;

.container{
    .title{
        height: px2rem(410);
        background-image: url("../img/asdsar20190928210251.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .title-top{
            display: flex;  
            padding: px2rem(56) px2rem(30) 0 px2rem(30);
            div:not(:last-child) {
                height: px2rem(60);
                line-height: px2rem(60);
                background-color: whitesmoke;
            }
            .title-top-left{
                border-top-left-radius: px2rem(10);
                border-bottom-left-radius: px2rem(10);
                border-right: px2rem(2) solid blanchedalmond;  
                font-size: px2rem(28);
                padding: 0 px2rem(20);
                .icon-iconfontarrows{
                    font-size: px2rem(28);
                }
            }
            .title-top-middle{
                flex: 1;
                display: flex;
                border-top-right-radius: px2rem(10);
                border-bottom-right-radius: px2rem(10); 
                background-color: white;
                .search {
                    padding-left: px2rem(20); 
                    border: none;
                    outline: none;
                    flex: 1;
                    font-size: px2rem(26);
                }
                .icon-sousuo{   
                    font-size: px2rem(36);   
                    padding: 0 px2rem(16);
                }
            }
            .title-top-right{
                font-size: px2rem(64);
                padding-left: px2rem(10);
                color: white;
                position: relative;
                .count{
                    width: px2rem(30);
                    height: px2rem(30);
                    line-height: px2rem(30);
                    border-radius: 50%;
                    display: block;
                    font-size: px2rem(24);
                    position: absolute;
                    top:0;
                    right:0;
                    background-color: red;
                    text-align: center;
                }
            }
        }
    }

    .admit{ 
        display: flex;
        border-bottom: 1px solid blanchedalmond; 
        text-align: center;
        font-size: px2rem(28);
        div{
            height: px2rem(120);
            line-height: px2rem(120);
            flex: 1;
        }
        a{
            color: grey;
            display: inline-block;
        }
        a:hover{
            color: orangered;
        }
        span{
            display: inline-block;
            color: orangered;
            padding-right: px2rem(10);
            font-size: px2rem(30);
         }
    }

    .region{
        display: flex;
        border-bottom:px2rem(20) solid whitesmoke;
        .region-icon{
            flex: 1;
            .region-icon-img{
                width: px2rem(100);  
                height: px2rem(100); 
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                margin-top: px2rem(40); 
                a{
                    display: block;
                }
                img{
                    width: px2rem(100);  
                    height: px2rem(100);  
                }
            }
            .region-icon-text{
                text-align: center;
                font-size: px2rem(24);
                margin: px2rem(20) 0 px2rem(30) 0;
                a:hover{
                    color: orangered;
                }
            }
        }
    }

    .seniority{
        display: flex;
        justify-content: space-around;
        padding: px2rem(40) px2rem(30);
        border-bottom:px2rem(20) solid whitesmoke;
        font-size: px2rem(28);
        a{
            display: block;           
            padding: px2rem(16);
        }
        p,span{
            font-weight: 700;
            padding-left: px2rem(16);
        }
        .seniority-left {
            width: px2rem(330);
            height: px2rem(300); 
            background-image: url("../img/223002-15666570021e0d.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-radius: px2rem(10);           
        }
        .seniority-right{
            .seniority-right-up{
                width: px2rem(330);
                height: px2rem(140);
                background-image: url("../img/223002-15666570021e0d.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                border-radius: px2rem(10);

            }
            .seniority-right-down{
                display: flex;
                justify-content: space-between;
                margin-top: px2rem(20);
                >div{
                    width: px2rem(160);
                    height: px2rem(140);
                    background-image: url("../img/223002-15666570021e0d.jpg");
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    border-radius: px2rem(10);
                }
            }
        }
    }

    .hotbuy{
        margin-bottom: px2rem(200);
        .hotbuy-top{
            text-align: center;
            color: red;
            padding: px2rem(40) 0;
            font-size:px2rem(34);
            .topxian{
                vertical-align: middle;
                display: inline-block;
                width: px2rem(140);
                border: px2rem(1.5) solid red;       
            }
            span{
                display: inline-block;
                width: px2rem(50);
                font-size:px2rem(50);
            }         
        }
        .hotbuy-products{
            display: flex;
            margin: 0 px2rem(30);
            flex-wrap: wrap;
            justify-content: space-around;
            a{
                display: block;
            }
            .hotbuy-goods{
                width: px2rem(330);
                margin-bottom: px2rem(20);
                .hotbuy-goods-pic{
                    img{
                        width: 100%;
                        height: px2rem(270);
                        border-radius: px2rem(10);
                    }
                }
                .hotbuy-goods-text{
                    a{
                        letter-spacing: px2rem(1);
                        font-size: px2rem(28);
                        padding: px2rem(16) 0;
                    } 
                    p{
                        font-size: px2rem(24);
                        color: grey;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    span{
                        display: inline-block;
                        font-weight: 700;
                        font-size: px2rem(26);
                        color: red;
                        padding: px2rem(16) 0;
                    }
                    .icon-gouwuche1{
                        font-size: px2rem(32);
                        padding-right: px2rem(10);
                        float: right;
                    }
                }
            }
        }
    }

}