@charset "utf-8";
@import "../lib/hotcss-master/src/px2rem.scss";

$designWidth:750;

.container{

    .mybalancedetails-title{
        margin: px2rem(26) px2rem(30);
        position: relative;
        text-align: center;
        .iconfont{
            color: gray;
            font-size: px2rem(36);
            position: absolute;
            left: 0;
        }
        h2{
            font-size: px2rem(36);
            font-weight: 700;      
        }
    }

    .mybalancedetails-box{
        .mybalancedetails-box-up{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:  px2rem(26) px2rem(30);
            background-color: #acacac26;
            .boxupdata{
                p{
                    font-size: px2rem(30);
                }
                span{
                    font-size: px2rem(28);
                    color: gray;
                }
            }
            .iconfont{
                font-size: px2rem(40);
                color: gray;;
            } 
        }
        .mybalancedetails-box-down{
            margin-left:px2rem(30);
              .box-down-item{
                display: flex;
                align-items: center;
                padding: px2rem(40) 0;
                border-bottom: 1px solid #8080802b;
                .down-item-left{
                    color: #808080b8;
                    text-align: center;
                    font-size: px2rem(32); 
                    p:first-child{
                        padding-bottom: px2rem(10);
                    }
                }
                .down-item-center{
                    flex: 1;
                    display: flex;
                    margin-left: px2rem(40);
                    .iconfont{
                        font-size: px2rem(50);
                        color: #b5587870;
                    } 
                    .down-item-center-text{
                        margin-left: px2rem(20);
                        span{
                           display: block;
                           font-size: px2rem(32);
                           padding-bottom: px2rem(16);
                        }
                        p{
                            font-size: px2rem(28);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
                .down-item-right{
                    color: grey;
                    font-size: px2rem(40);
                    padding-right: px2rem(30);
                    .col{
                        color: red;
                    }
               }
              }
           }
    }

}