@charset "utf-8";
@import "../lib/hotcss-master/src/px2rem.scss";

$designWidth:750;

.container{

    .mycentertop{
        height: px2rem(380);
        background-color: #ff5722;   
        display: flex; 
        align-items: center;
        justify-content: space-between;
        padding: 0 px2rem(30);
        .mycentertop-left{
            a,>div{
                display: inline-block;
                vertical-align: middle;
                img{
                    width: px2rem(130);
                    height: px2rem(130);
                    border-radius: 50%;
                }
            }
            .mycentertop-text{             
                .text-usernmae{
                    display: block;
                    font-size: px2rem(36);
                    color: white;
                    font-weight: 400;
                    letter-spacing: px2rem(4);
                }
                .text-vip{
                    padding-top: px2rem(20);
                    a{
                        font-size: px2rem(46);
                        color: #ff5722; 
                        border-radius: 50%;
                        background-color: white;
                        text-align: center;
                        width: px2rem(50);
                        height: px2rem(50);
                        line-height: px2rem(55);
                    }
                    .rank{
                        color: #ff5722; 
                        padding: 0 px2rem(10) px2rem(1) px2rem(6);
                        font-size: px2rem(20);
                        border-top-right-radius: px2rem(16);
                        border-bottom-right-radius: px2rem(16);
                        background-color: white; 
                        vertical-align: middle;
                        margin-left: px2rem(-20);
                    }
                }
            }
        }
        .mycentertop-right{
            font-size: px2rem(28);
            background-color: white;
            padding: px2rem(10) px2rem(20);
            border-radius: px2rem(24);
            a{
                display: block;
                color: #ff5722;
                span{
                    font-size: px2rem(28);
                }
            }
        }
    }

    .mycentermiddle{
        letter-spacing: px2rem(2);
        .lookallorder{
            display: flex;
            justify-content: space-between;
            font-size: px2rem(30);
            padding: px2rem(20) px2rem(30);
            a{
                display: block;
                color: gray;
                font-size: px2rem(26);
                span{
                    vertical-align: middle;
                    font-size: px2rem(26);
                    margin-left: px2rem(-10);
                }
            }
            a:hover{
                color: #ff5722;
            }
        }
        .logistics{
            border-bottom: px2rem(16) solid #8080801a;
           ul{
               display: flex;
               font-size: px2rem(26);
               text-align: center;
               padding: px2rem(20) 0 px2rem(36) 0;
               li{
                 flex: 1;
                 a{
                     display: inline-block;
                     .iconfont{ 
                         font-size: px2rem(60);
                         color: #ff5722;
                         margin-bottom: px2rem(10);
                     }
                 }

               }
           }
        }
    }

    .mycenterbottom{
       ul{
           margin-bottom: px2rem(200);
           li{         
               border-bottom: px2rem(2) solid #8080801a;
               .mycenterbottom-item{
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                   padding: px2rem(32) px2rem(30) px2rem(20) px2rem(30);
                   .mycenterbottom-item-left{
                        font-size: px2rem(34);
                       .iconfont{
                           font-size: px2rem(50);
                           vertical-align: middle;
                       }
                   }
                   .mycenterbottom-item-right{
                      font-size: px2rem(28);
                      color: grey;
                      span{
                        vertical-align: middle; 
                        font-size: px2rem(28); 
                      }
                   }
               }
           }
       }
    }

}

