@charset "utf-8";
@import "../lib/hotcss-master/src/px2rem.scss";

$designWidth:750;

.container{

    .myorderdetails-top{
        .details-title{
            margin: px2rem(30);
            text-align: center;
            position: relative;
            .iconfont{
                color: grey;
                font-size: px2rem(36);
                position: absolute;
                left:0;
            }
            h2{ 
                font-size: px2rem(36);
                font-weight: 700;
            }
        }
        .details-middle{
            height: px2rem(220);
            background-color: #f44711;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 px2rem(30);
            .details-middle-left{
                color: white;
                span{
                    display: block;
                    padding-bottom: px2rem(26);
                    font-size: px2rem(36);
                    font-weight: 300;
                }
                p{
                    font-size: px2rem(28);
                    font-weight: 300; 
                }
            }
            .details-middle-right img{
                width: px2rem(140);
                height: px2rem(120);
            }
        }
        .details-bottom{
            padding: px2rem(36) px2rem(30);
            border-bottom: px2rem(16) solid #80808026;
            .details-bottom-up{
                overflow: hidden;
                font-size: px2rem(32);
                padding: 0 px2rem(10) px2rem(20) px2rem(50);
                em{                   
                    float: left;
                }
                span{
                    float: right;
                }
            }
            .details-bottom-down{
                a{
                    display: flex;                
                    .iconfont{
                        font-size: px2rem(40); 
                        padding-top: px2rem(6);                     
                    }
                    p{
                        font-size: px2rem(27);
                        color: gray;
                        padding-left: px2rem(10); 
                        padding-right: px2rem(20);
                        line-height:px2rem(36);            
                    }
                }
            }
        }
    }    

    .myorderdetails-middle{ 
        .details-middle-top{
            padding: px2rem(26) px2rem(30) px2rem(26) 0;
            margin-left:px2rem(30);
            display: flex;
            img{
                width: px2rem(150);
                height: px2rem(150);;
            }
            .desc{
                flex: 1;
                padding: px2rem(20) 0 px2rem(20) px2rem(20);
                p{
                    font-size: px2rem(30);
                    padding-bottom: px2rem(20);
                }
                em{
                    font-size: px2rem(28);
                    color: gray;
                }
            }
            .price{
                font-size: px2rem(30);
                padding-top: px2rem(20);
            }
        }
        .details-middle-center{
            display: flex;
            justify-content: space-between;
            font-size: px2rem(28);
            padding: 0 px2rem(30) px2rem(26) 0;
            margin-left:px2rem(30);
            border-bottom: px2rem(2) solid #80808026;
        }
        .details-middle-bottom{
           display: flex;
           justify-content: space-between;
           font-size: px2rem(30);
           padding: px2rem(20) px2rem(30);
           border-bottom: px2rem(16) solid #80808026;
           em{
               color: red;
           }
        }
    }

    .myorderdetails-bottom{
        .details-bottom-up{
            padding: px2rem(40) px2rem(30);
            font-size: px2rem(26);
            color: gray;
            p:first-child{
               padding-bottom: px2rem(20);
            }
        }
        .details-bottom-down{
            background-color: #80808026;
            height: px2rem(300);
            .details-bottom-btnbox{
                text-align: center;
                padding-top: px2rem(80);
                button{
                    font-size: px2rem(36);
                    background-color: #80808000;
                    border: none;
                    border-radius: px2rem(36);
                }
                button:first-child{
                    padding: px2rem(10) px2rem(30);
                    border: px2rem(2) solid gray;
                    color: gray;
                }
                button:last-child{
                    padding: px2rem(10) px2rem(70);
                    border: px2rem(2) solid red;
                    color: red;
                }
                button:focus{
                    outline: none;
                    box-shadow: inset 0 px2rem(2) px2rem(2) rgba(0, 0, 0, .075), 0 0 5px rgba(102, 175, 233, 0.6);
                }
            }
        }
    }

}