@charset "utf-8";
@import "../lib/hotcss-master/src/px2rem.scss";

$designWidth:750;

.container{

    .title{
        margin: px2rem(20) px2rem(30);
        text-align: center;
        position: relative;  
        font-size: px2rem(36);
        font-weight: 700;
        height: px2rem(60);
        line-height: px2rem(60);
        .iconfont{
            position: absolute;
            right: 0;
            top: 0;
            font-size: px2rem(50);
        }
        h2{
            font-size: px2rem(40);
        } 
    }

    .middle{
        display: flex;
        border-top: px2rem(2) solid whitesmoke;
        .middle-left{
            text-align: center;
            font-size: px2rem(32);
            border-right: px2rem(3) solid whitesmoke;
            .middle-left-ul{
                width: px2rem(180);
                li{
                   padding: px2rem(30) 0;
                }
                li:first-child{
                    width: px2rem(181);
                    background-color: #80808024;
                    border-right:px2rem(2) solid red;
                }
            }
        }
        .middle-right{
            flex: 1;
            a{
               display: block;
            }
            .middle-right-top{
                margin: px2rem(20);
                img{
                    width: 100%;
                    height: px2rem(200);
                 }
            }
            .middle-right-bottom{    
                .right-bottom-up{
                    text-align: center;
                    padding: px2rem(12) 0;
                    font-size: px2rem(28);
                    .linehr{
                        vertical-align: middle;
                        display: inline-block;
                        width: px2rem(70);
                        border: px2rem(1) solid gray; 
                    }
                    i{
                       display: inline-block;
                       padding: 0 px2rem(10);
                       letter-spacing: px2rem(2);
                    }
                }
                .right-bottom-down{
                    display: flex;
                    margin: px2rem(30) px2rem(26)px2rem(350) px2rem(26);
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .bottom-down-item{      
                        width: px2rem(130);
                        margin-bottom: px2rem(70);
                        text-align: center;
                        .bottom-down-itembox{             
                            display: block;
                            .bottom-down-item-pic{ 
                                padding-bottom: px2rem(2);            
                                img{
                                    width: px2rem(70);
                                    height: px2rem(76);
                                }
                            }
                            .bottom-down-item-text{
                                display: block;
                                font-size: px2rem(26);
                            }
                        }
                    }
                }
            }
        }
    }

}