.container .confirmorder-title {
  text-align: center;
  margin: 0.42667rem 0.64rem;
  position: relative; }
  .container .confirmorder-title .iconfont {
    color: grey;
    font-size: 0.768rem;
    position: absolute;
    left: 0; }
  .container .confirmorder-title h2 {
    font-size: 0.768rem;
    font-weight: 700; }

.container .confirmorder-top .admin-desc {
  display: flex;
  padding: 1.49333rem 0.64rem 0.64rem 0.34133rem; }
  .container .confirmorder-top .admin-desc .admin-left {
    font-size: 2.56rem;
    color: #03a9f4c4; }
  .container .confirmorder-top .admin-desc .admin-right {
    flex: 1;
    padding: 0.21333rem 0 0.21333rem 0.42667rem; }
    .container .confirmorder-top .admin-desc .admin-right .admin-right-up {
      display: flex;
      justify-content: space-between;
      font-size: 0.72533rem;
      padding-bottom: 0.42667rem; }
      .container .confirmorder-top .admin-desc .admin-right .admin-right-up .username {
        font-weight: 700; }
    .container .confirmorder-top .admin-desc .admin-right .admin-right-down {
      font-size: 0.512rem;
      color: gray; }

.container .confirmorder-top .admin-border {
  border-bottom: 0.34133rem solid #9e9e9e38; }
  .container .confirmorder-top .admin-border ul {
    padding-left: 0.42667rem;
    overflow: hidden; }
    .container .confirmorder-top .admin-border ul li {
      float: left;
      display: block;
      height: 0.17067rem;
      width: 0.384rem;
      transform: skewX(-40deg);
      margin-right: 0.384rem; }
    .container .confirmorder-top .admin-border ul li:nth-child(odd) {
      background-color: red; }
    .container .confirmorder-top .admin-border ul li:nth-child(even) {
      background-color: #2196f3; }

.container .confirmorder-middle .prodctdesc-title {
  margin-left: 0.64rem;
  font-size: 0.72533rem;
  padding: 0.64rem 0;
  border-bottom: 0.04267rem solid #9e9e9e38; }
  .container .confirmorder-middle .prodctdesc-title .iconfont {
    font-size: 0.72533rem;
    font-weight: 700; }

.container .confirmorder-middle .prodctdesc-text {
  display: flex;
  justify-content: space-between;
  padding: 0.42667rem 0.64rem 0 0.64rem; }
  .container .confirmorder-middle .prodctdesc-text img {
    width: 2.77333rem;
    height: 2.77333rem; }
  .container .confirmorder-middle .prodctdesc-text .text-center {
    flex: 1;
    margin: 0.42667rem 0 0.21333rem 0.42667rem; }
    .container .confirmorder-middle .prodctdesc-text .text-center p {
      font-size: 0.68267rem;
      padding-bottom: 0.21333rem; }
    .container .confirmorder-middle .prodctdesc-text .text-center em {
      font-size: 0.59733rem;
      color: gray; }
  .container .confirmorder-middle .prodctdesc-text .text-right {
    padding-top: 0.42667rem;
    font-size: 0.68267rem; }

.container .confirmorder-middle .clearing {
  display: flex;
  margin-left: 0.64rem;
  padding: 0.64rem 0.64rem 0.64rem 0;
  justify-content: space-between;
  align-items: center;
  font-size: 0.59733rem; }
  .container .confirmorder-middle .clearing .desc {
    letter-spacing: 0.04267rem; }
  .container .confirmorder-middle .clearing .price {
    letter-spacing: -0.064rem; }
  .container .confirmorder-middle .clearing .actualprice {
    color: red;
    letter-spacing: -0.02133rem; }
  .container .confirmorder-middle .clearing .clearing-box {
    color: red; }
    .container .confirmorder-middle .clearing .clearing-box .icon-hongbao {
      font-size: 0.72533rem;
      vertical-align: middle; }
    .container .confirmorder-middle .clearing .clearing-box .icon-gt {
      font-size: 0.55467rem;
      color: gray; }

.container .confirmorder-middle .prodctdesc-freight, .container .confirmorder-middle .prodctdesc-coupon {
  border-bottom: 0.04267rem solid #9e9e9e38; }

.container .confirmorder-bottom {
  margin-top: 0.768rem;
  padding-top: 1.70667rem;
  height: 8.02133rem;
  background-color: #9e9e9e38;
  text-align: center; }
  .container .confirmorder-bottom button {
    background-color: #f44336de;
    color: white;
    border: none;
    padding: 0.55467rem 4.90667rem;
    font-size: 0.68267rem;
    border-radius: 0.85333rem;
    letter-spacing: 0.02133rem; }
  .container .confirmorder-bottom button:focus {
    outline: none;
    box-shadow: inset 0 0.04267rem 0.04267rem rgba(0, 0, 0, 0.075), 0 0 5px rgba(102, 175, 233, 0.6); }
