.container .title {
  height: 8.74667rem;
  background-image: url("../img/asdsar20190928210251.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  .container .title .title-top {
    display: flex;
    padding: 1.19467rem 0.64rem 0 0.64rem; }
    .container .title .title-top div:not(:last-child) {
      height: 1.28rem;
      line-height: 1.28rem;
      background-color: whitesmoke; }
    .container .title .title-top .title-top-left {
      border-top-left-radius: 0.21333rem;
      border-bottom-left-radius: 0.21333rem;
      border-right: 0.04267rem solid blanchedalmond;
      font-size: 0.59733rem;
      padding: 0 0.42667rem; }
      .container .title .title-top .title-top-left .icon-iconfontarrows {
        font-size: 0.59733rem; }
    .container .title .title-top .title-top-middle {
      flex: 1;
      display: flex;
      border-top-right-radius: 0.21333rem;
      border-bottom-right-radius: 0.21333rem;
      background-color: white; }
      .container .title .title-top .title-top-middle .search {
        padding-left: 0.42667rem;
        border: none;
        outline: none;
        flex: 1;
        font-size: 0.55467rem; }
      .container .title .title-top .title-top-middle .icon-sousuo {
        font-size: 0.768rem;
        padding: 0 0.34133rem; }
    .container .title .title-top .title-top-right {
      font-size: 1.36533rem;
      padding-left: 0.21333rem;
      color: white;
      position: relative; }
      .container .title .title-top .title-top-right .count {
        width: 0.64rem;
        height: 0.64rem;
        line-height: 0.64rem;
        border-radius: 50%;
        display: block;
        font-size: 0.512rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: red;
        text-align: center; }

.container .admit {
  display: flex;
  border-bottom: 1px solid blanchedalmond;
  text-align: center;
  font-size: 0.59733rem; }
  .container .admit div {
    height: 2.56rem;
    line-height: 2.56rem;
    flex: 1; }
  .container .admit a {
    color: grey;
    display: inline-block; }
  .container .admit a:hover {
    color: orangered; }
  .container .admit span {
    display: inline-block;
    color: orangered;
    padding-right: 0.21333rem;
    font-size: 0.64rem; }

.container .region {
  display: flex;
  border-bottom: 0.42667rem solid whitesmoke; }
  .container .region .region-icon {
    flex: 1; }
    .container .region .region-icon .region-icon-img {
      width: 2.13333rem;
      height: 2.13333rem;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      margin-top: 0.85333rem; }
      .container .region .region-icon .region-icon-img a {
        display: block; }
      .container .region .region-icon .region-icon-img img {
        width: 2.13333rem;
        height: 2.13333rem; }
    .container .region .region-icon .region-icon-text {
      text-align: center;
      font-size: 0.512rem;
      margin: 0.42667rem 0 0.64rem 0; }
      .container .region .region-icon .region-icon-text a:hover {
        color: orangered; }

.container .seniority {
  display: flex;
  justify-content: space-around;
  padding: 0.85333rem 0.64rem;
  border-bottom: 0.42667rem solid whitesmoke;
  font-size: 0.59733rem; }
  .container .seniority a {
    display: block;
    padding: 0.34133rem; }
  .container .seniority p, .container .seniority span {
    font-weight: 700;
    padding-left: 0.34133rem; }
  .container .seniority .seniority-left {
    width: 7.04rem;
    height: 6.4rem;
    background-image: url("../img/223002-15666570021e0d.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0.21333rem; }
  .container .seniority .seniority-right .seniority-right-up {
    width: 7.04rem;
    height: 2.98667rem;
    background-image: url("../img/223002-15666570021e0d.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0.21333rem; }
  .container .seniority .seniority-right .seniority-right-down {
    display: flex;
    justify-content: space-between;
    margin-top: 0.42667rem; }
    .container .seniority .seniority-right .seniority-right-down > div {
      width: 3.41333rem;
      height: 2.98667rem;
      background-image: url("../img/223002-15666570021e0d.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 0.21333rem; }

.container .hotbuy {
  margin-bottom: 4.26667rem; }
  .container .hotbuy .hotbuy-top {
    text-align: center;
    color: red;
    padding: 0.85333rem 0;
    font-size: 0.72533rem; }
    .container .hotbuy .hotbuy-top .topxian {
      vertical-align: middle;
      display: inline-block;
      width: 2.98667rem;
      border: 0.032rem solid red; }
    .container .hotbuy .hotbuy-top span {
      display: inline-block;
      width: 1.06667rem;
      font-size: 1.06667rem; }
  .container .hotbuy .hotbuy-products {
    display: flex;
    margin: 0 0.64rem;
    flex-wrap: wrap;
    justify-content: space-around; }
    .container .hotbuy .hotbuy-products a {
      display: block; }
    .container .hotbuy .hotbuy-products .hotbuy-goods {
      width: 7.04rem;
      margin-bottom: 0.42667rem; }
      .container .hotbuy .hotbuy-products .hotbuy-goods .hotbuy-goods-pic img {
        width: 100%;
        height: 5.76rem;
        border-radius: 0.21333rem; }
      .container .hotbuy .hotbuy-products .hotbuy-goods .hotbuy-goods-text a {
        letter-spacing: 0.02133rem;
        font-size: 0.59733rem;
        padding: 0.34133rem 0; }
      .container .hotbuy .hotbuy-products .hotbuy-goods .hotbuy-goods-text p {
        font-size: 0.512rem;
        color: grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .container .hotbuy .hotbuy-products .hotbuy-goods .hotbuy-goods-text span {
        display: inline-block;
        font-weight: 700;
        font-size: 0.55467rem;
        color: red;
        padding: 0.34133rem 0; }
      .container .hotbuy .hotbuy-products .hotbuy-goods .hotbuy-goods-text .icon-gouwuche1 {
        font-size: 0.68267rem;
        padding-right: 0.21333rem;
        float: right; }
