.container .billtitle {
  background-color: #fa511ccf; }
  .container .billtitle .billtitle-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.64rem;
    font-size: 0.72533rem;
    color: white; }
    .container .billtitle .billtitle-title a {
      color: white; }
    .container .billtitle .billtitle-title .iconfont {
      font-size: 0.768rem; }
    .container .billtitle .billtitle-title h2 {
      font-size: 0.768rem;
      padding-left: 2.13333rem; }
    .container .billtitle .billtitle-title .details {
      font-size: 0.68267rem;
      font-weight: 200; }
  .container .billtitle .billtitle-middle {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 1.28rem 0 2.13333rem 0; }
    .container .billtitle .billtitle-middle p {
      font-size: 0.59733rem;
      font-weight: 300;
      margin-bottom: 0.64rem; }
    .container .billtitle .billtitle-middle span {
      font-size: 1.28rem; }
  .container .billtitle .billtitle-bottom {
    background-color: #0000001c;
    display: flex;
    padding: 0.42667rem 0; }
    .container .billtitle .billtitle-bottom > div:first-child {
      border-right: 0.04267rem solid #dec8c87a; }
    .container .billtitle .billtitle-bottom .billtitle-bottom-box {
      flex: 1;
      text-align: center; }
      .container .billtitle .billtitle-bottom .billtitle-bottom-box p {
        padding-top: 0.34133rem;
        font-size: 0.512rem;
        color: #dec8c8; }
      .container .billtitle .billtitle-bottom .billtitle-bottom-box em {
        display: block;
        color: white;
        font-size: 0.72533rem;
        padding: 0.34133rem 0; }

.container .billmiddle .billmiddle-up {
  background-color: #f443361f;
  display: flex;
  justify-content: space-between;
  padding: 0.42667rem 0.64rem 0.768rem 0.64rem; }
  .container .billmiddle .billmiddle-up .billmiddle-up-left span {
    font-size: 0.72533rem; }
  .container .billmiddle .billmiddle-up .billmiddle-up-right a {
    font-size: 0.59733rem;
    color: gray; }
    .container .billmiddle .billmiddle-up .billmiddle-up-right a span {
      font-size: 0.55467rem; }

.container .billmiddle .billmiddle-down {
  margin-left: 0.64rem; }
  .container .billmiddle .billmiddle-down .billmiddle-down-item {
    display: flex;
    align-items: center;
    padding: 0.64rem 0;
    border-bottom: 1px solid #8080802b; }
    .container .billmiddle .billmiddle-down .billmiddle-down-item .down-item-left {
      color: #808080b8;
      text-align: center;
      font-size: 0.68267rem; }
      .container .billmiddle .billmiddle-down .billmiddle-down-item .down-item-left p:first-child {
        padding-bottom: 0.21333rem; }
    .container .billmiddle .billmiddle-down .billmiddle-down-item .down-item-center {
      flex: 1;
      display: flex;
      margin-left: 0.85333rem; }
      .container .billmiddle .billmiddle-down .billmiddle-down-item .down-item-center .iconfont {
        font-size: 1.06667rem;
        color: #b5587870; }
      .container .billmiddle .billmiddle-down .billmiddle-down-item .down-item-center .down-item-center-text {
        margin-left: 0.42667rem; }
        .container .billmiddle .billmiddle-down .billmiddle-down-item .down-item-center .down-item-center-text span {
          display: block;
          font-size: 0.68267rem;
          padding-bottom: 0.34133rem; }
        .container .billmiddle .billmiddle-down .billmiddle-down-item .down-item-center .down-item-center-text p {
          font-size: 0.59733rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
    .container .billmiddle .billmiddle-down .billmiddle-down-item .down-item-right {
      color: grey;
      font-size: 0.85333rem;
      padding-right: 0.64rem; }
      .container .billmiddle .billmiddle-down .billmiddle-down-item .down-item-right .col {
        color: red; }

.container .billbottom {
  margin-top: 3.2rem;
  text-align: center; }
  .container .billbottom .billbottom-btn {
    border: none;
    padding: 0.512rem 5.12rem;
    background-color: #ff5722f2;
    font-size: 0.768rem;
    color: white;
    border-radius: 0.85333rem; }
  .container .billbottom .billbottom-btn:focus {
    outline: none;
    box-shadow: inset 0 0.04267rem 0.04267rem rgba(0, 0, 0, 0.075), 0 0 5px rgba(102, 175, 233, 0.6); }
