.container .mybalancedetails-title {
  margin: 0.55467rem 0.64rem;
  position: relative;
  text-align: center; }
  .container .mybalancedetails-title .iconfont {
    color: gray;
    font-size: 0.768rem;
    position: absolute;
    left: 0; }
  .container .mybalancedetails-title h2 {
    font-size: 0.768rem;
    font-weight: 700; }

.container .mybalancedetails-box .mybalancedetails-box-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.55467rem 0.64rem;
  background-color: #acacac26; }
  .container .mybalancedetails-box .mybalancedetails-box-up .boxupdata p {
    font-size: 0.64rem; }
  .container .mybalancedetails-box .mybalancedetails-box-up .boxupdata span {
    font-size: 0.59733rem;
    color: gray; }
  .container .mybalancedetails-box .mybalancedetails-box-up .iconfont {
    font-size: 0.85333rem;
    color: gray; }

.container .mybalancedetails-box .mybalancedetails-box-down {
  margin-left: 0.64rem; }
  .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item {
    display: flex;
    align-items: center;
    padding: 0.85333rem 0;
    border-bottom: 1px solid #8080802b; }
    .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item .down-item-left {
      color: #808080b8;
      text-align: center;
      font-size: 0.68267rem; }
      .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item .down-item-left p:first-child {
        padding-bottom: 0.21333rem; }
    .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item .down-item-center {
      flex: 1;
      display: flex;
      margin-left: 0.85333rem; }
      .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item .down-item-center .iconfont {
        font-size: 1.06667rem;
        color: #b5587870; }
      .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item .down-item-center .down-item-center-text {
        margin-left: 0.42667rem; }
        .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item .down-item-center .down-item-center-text span {
          display: block;
          font-size: 0.68267rem;
          padding-bottom: 0.34133rem; }
        .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item .down-item-center .down-item-center-text p {
          font-size: 0.59733rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
    .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item .down-item-right {
      color: grey;
      font-size: 0.85333rem;
      padding-right: 0.64rem; }
      .container .mybalancedetails-box .mybalancedetails-box-down .box-down-item .down-item-right .col {
        color: red; }
