.container .mycentertop {
  height: 8.10667rem;
  background-color: #ff5722;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.64rem; }
  .container .mycentertop .mycentertop-left a, .container .mycentertop .mycentertop-left > div {
    display: inline-block;
    vertical-align: middle; }
    .container .mycentertop .mycentertop-left a img, .container .mycentertop .mycentertop-left > div img {
      width: 2.77333rem;
      height: 2.77333rem;
      border-radius: 50%; }
  .container .mycentertop .mycentertop-left .mycentertop-text .text-usernmae {
    display: block;
    font-size: 0.768rem;
    color: white;
    font-weight: 400;
    letter-spacing: 0.08533rem; }
  .container .mycentertop .mycentertop-left .mycentertop-text .text-vip {
    padding-top: 0.42667rem; }
    .container .mycentertop .mycentertop-left .mycentertop-text .text-vip a {
      font-size: 0.98133rem;
      color: #ff5722;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      width: 1.06667rem;
      height: 1.06667rem;
      line-height: 1.17333rem; }
    .container .mycentertop .mycentertop-left .mycentertop-text .text-vip .rank {
      color: #ff5722;
      padding: 0 0.21333rem 0.02133rem 0.128rem;
      font-size: 0.42667rem;
      border-top-right-radius: 0.34133rem;
      border-bottom-right-radius: 0.34133rem;
      background-color: white;
      vertical-align: middle;
      margin-left: -0.42667rem; }
  .container .mycentertop .mycentertop-right {
    font-size: 0.59733rem;
    background-color: white;
    padding: 0.21333rem 0.42667rem;
    border-radius: 0.512rem; }
    .container .mycentertop .mycentertop-right a {
      display: block;
      color: #ff5722; }
      .container .mycentertop .mycentertop-right a span {
        font-size: 0.59733rem; }

.container .mycentermiddle {
  letter-spacing: 0.04267rem; }
  .container .mycentermiddle .lookallorder {
    display: flex;
    justify-content: space-between;
    font-size: 0.64rem;
    padding: 0.42667rem 0.64rem; }
    .container .mycentermiddle .lookallorder a {
      display: block;
      color: gray;
      font-size: 0.55467rem; }
      .container .mycentermiddle .lookallorder a span {
        vertical-align: middle;
        font-size: 0.55467rem;
        margin-left: -0.21333rem; }
    .container .mycentermiddle .lookallorder a:hover {
      color: #ff5722; }
  .container .mycentermiddle .logistics {
    border-bottom: 0.34133rem solid #8080801a; }
    .container .mycentermiddle .logistics ul {
      display: flex;
      font-size: 0.55467rem;
      text-align: center;
      padding: 0.42667rem 0 0.768rem 0; }
      .container .mycentermiddle .logistics ul li {
        flex: 1; }
        .container .mycentermiddle .logistics ul li a {
          display: inline-block; }
          .container .mycentermiddle .logistics ul li a .iconfont {
            font-size: 1.28rem;
            color: #ff5722;
            margin-bottom: 0.21333rem; }

.container .mycenterbottom ul {
  margin-bottom: 4.26667rem; }
  .container .mycenterbottom ul li {
    border-bottom: 0.04267rem solid #8080801a; }
    .container .mycenterbottom ul li .mycenterbottom-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.68267rem 0.64rem 0.42667rem 0.64rem; }
      .container .mycenterbottom ul li .mycenterbottom-item .mycenterbottom-item-left {
        font-size: 0.72533rem; }
        .container .mycenterbottom ul li .mycenterbottom-item .mycenterbottom-item-left .iconfont {
          font-size: 1.06667rem;
          vertical-align: middle; }
      .container .mycenterbottom ul li .mycenterbottom-item .mycenterbottom-item-right {
        font-size: 0.59733rem;
        color: grey; }
        .container .mycenterbottom ul li .mycenterbottom-item .mycenterbottom-item-right span {
          vertical-align: middle;
          font-size: 0.59733rem; }
