.container .myorderdetails-top .details-title {
  margin: 0.64rem;
  text-align: center;
  position: relative; }
  .container .myorderdetails-top .details-title .iconfont {
    color: grey;
    font-size: 0.768rem;
    position: absolute;
    left: 0; }
  .container .myorderdetails-top .details-title h2 {
    font-size: 0.768rem;
    font-weight: 700; }

.container .myorderdetails-top .details-middle {
  height: 4.69333rem;
  background-color: #f44711;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.64rem; }
  .container .myorderdetails-top .details-middle .details-middle-left {
    color: white; }
    .container .myorderdetails-top .details-middle .details-middle-left span {
      display: block;
      padding-bottom: 0.55467rem;
      font-size: 0.768rem;
      font-weight: 300; }
    .container .myorderdetails-top .details-middle .details-middle-left p {
      font-size: 0.59733rem;
      font-weight: 300; }
  .container .myorderdetails-top .details-middle .details-middle-right img {
    width: 2.98667rem;
    height: 2.56rem; }

.container .myorderdetails-top .details-bottom {
  padding: 0.768rem 0.64rem;
  border-bottom: 0.34133rem solid #80808026; }
  .container .myorderdetails-top .details-bottom .details-bottom-up {
    overflow: hidden;
    font-size: 0.68267rem;
    padding: 0 0.21333rem 0.42667rem 1.06667rem; }
    .container .myorderdetails-top .details-bottom .details-bottom-up em {
      float: left; }
    .container .myorderdetails-top .details-bottom .details-bottom-up span {
      float: right; }
  .container .myorderdetails-top .details-bottom .details-bottom-down a {
    display: flex; }
    .container .myorderdetails-top .details-bottom .details-bottom-down a .iconfont {
      font-size: 0.85333rem;
      padding-top: 0.128rem; }
    .container .myorderdetails-top .details-bottom .details-bottom-down a p {
      font-size: 0.576rem;
      color: gray;
      padding-left: 0.21333rem;
      padding-right: 0.42667rem;
      line-height: 0.768rem; }

.container .myorderdetails-middle .details-middle-top {
  padding: 0.55467rem 0.64rem 0.55467rem 0;
  margin-left: 0.64rem;
  display: flex; }
  .container .myorderdetails-middle .details-middle-top img {
    width: 3.2rem;
    height: 3.2rem; }
  .container .myorderdetails-middle .details-middle-top .desc {
    flex: 1;
    padding: 0.42667rem 0 0.42667rem 0.42667rem; }
    .container .myorderdetails-middle .details-middle-top .desc p {
      font-size: 0.64rem;
      padding-bottom: 0.42667rem; }
    .container .myorderdetails-middle .details-middle-top .desc em {
      font-size: 0.59733rem;
      color: gray; }
  .container .myorderdetails-middle .details-middle-top .price {
    font-size: 0.64rem;
    padding-top: 0.42667rem; }

.container .myorderdetails-middle .details-middle-center {
  display: flex;
  justify-content: space-between;
  font-size: 0.59733rem;
  padding: 0 0.64rem 0.55467rem 0;
  margin-left: 0.64rem;
  border-bottom: 0.04267rem solid #80808026; }

.container .myorderdetails-middle .details-middle-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.64rem;
  padding: 0.42667rem 0.64rem;
  border-bottom: 0.34133rem solid #80808026; }
  .container .myorderdetails-middle .details-middle-bottom em {
    color: red; }

.container .myorderdetails-bottom .details-bottom-up {
  padding: 0.85333rem 0.64rem;
  font-size: 0.55467rem;
  color: gray; }
  .container .myorderdetails-bottom .details-bottom-up p:first-child {
    padding-bottom: 0.42667rem; }

.container .myorderdetails-bottom .details-bottom-down {
  background-color: #80808026;
  height: 6.4rem; }
  .container .myorderdetails-bottom .details-bottom-down .details-bottom-btnbox {
    text-align: center;
    padding-top: 1.70667rem; }
    .container .myorderdetails-bottom .details-bottom-down .details-bottom-btnbox button {
      font-size: 0.768rem;
      background-color: #80808000;
      border: none;
      border-radius: 0.768rem; }
    .container .myorderdetails-bottom .details-bottom-down .details-bottom-btnbox button:first-child {
      padding: 0.21333rem 0.64rem;
      border: 0.04267rem solid gray;
      color: gray; }
    .container .myorderdetails-bottom .details-bottom-down .details-bottom-btnbox button:last-child {
      padding: 0.21333rem 1.49333rem;
      border: 0.04267rem solid red;
      color: red; }
    .container .myorderdetails-bottom .details-bottom-down .details-bottom-btnbox button:focus {
      outline: none;
      box-shadow: inset 0 0.04267rem 0.04267rem rgba(0, 0, 0, 0.075), 0 0 5px rgba(102, 175, 233, 0.6); }
