.container .title {
  margin: 0.42667rem 0.64rem;
  text-align: center;
  position: relative;
  font-size: 0.768rem;
  font-weight: 700;
  height: 1.28rem;
  line-height: 1.28rem; }
  .container .title .iconfont {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.06667rem; }
  .container .title h2 {
    font-size: 0.85333rem; }

.container .middle {
  display: flex;
  border-top: 0.04267rem solid whitesmoke; }
  .container .middle .middle-left {
    text-align: center;
    font-size: 0.68267rem;
    border-right: 0.064rem solid whitesmoke; }
    .container .middle .middle-left .middle-left-ul {
      width: 3.84rem; }
      .container .middle .middle-left .middle-left-ul li {
        padding: 0.64rem 0; }
      .container .middle .middle-left .middle-left-ul li:first-child {
        width: 3.86133rem;
        background-color: #80808024;
        border-right: 0.04267rem solid red; }
  .container .middle .middle-right {
    flex: 1; }
    .container .middle .middle-right a {
      display: block; }
    .container .middle .middle-right .middle-right-top {
      margin: 0.42667rem; }
      .container .middle .middle-right .middle-right-top img {
        width: 100%;
        height: 4.26667rem; }
    .container .middle .middle-right .middle-right-bottom .right-bottom-up {
      text-align: center;
      padding: 0.256rem 0;
      font-size: 0.59733rem; }
      .container .middle .middle-right .middle-right-bottom .right-bottom-up .linehr {
        vertical-align: middle;
        display: inline-block;
        width: 1.49333rem;
        border: 0.02133rem solid gray; }
      .container .middle .middle-right .middle-right-bottom .right-bottom-up i {
        display: inline-block;
        padding: 0 0.21333rem;
        letter-spacing: 0.04267rem; }
    .container .middle .middle-right .middle-right-bottom .right-bottom-down {
      display: flex;
      margin: 0.64rem 0.55467rem 7.46667rem 0.55467rem;
      flex-wrap: wrap;
      justify-content: space-between; }
      .container .middle .middle-right .middle-right-bottom .right-bottom-down .bottom-down-item {
        width: 2.77333rem;
        margin-bottom: 1.49333rem;
        text-align: center; }
        .container .middle .middle-right .middle-right-bottom .right-bottom-down .bottom-down-item .bottom-down-itembox {
          display: block; }
          .container .middle .middle-right .middle-right-bottom .right-bottom-down .bottom-down-item .bottom-down-itembox .bottom-down-item-pic {
            padding-bottom: 0.04267rem; }
            .container .middle .middle-right .middle-right-bottom .right-bottom-down .bottom-down-item .bottom-down-itembox .bottom-down-item-pic img {
              width: 1.49333rem;
              height: 1.62133rem; }
          .container .middle .middle-right .middle-right-bottom .right-bottom-down .bottom-down-item .bottom-down-itembox .bottom-down-item-text {
            display: block;
            font-size: 0.55467rem; }
