.container .container-title {
  height: 5.97333rem;
  background-image: url("../img/dec9387cb3901964be9bfd0ceccbba7f.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative; }
  .container .container-title .space {
    position: absolute;
    bottom: 0;
    height: 0.85333rem;
    width: 100%;
    border-top-left-radius: 0.64rem;
    border-top-right-radius: 0.64rem;
    background-color: white; }

.container .container-proimg {
  margin: 0.64rem 0; }
  .container .container-proimg .container-proimg-up {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container .container-proimg .container-proimg-up li a {
      display: block;
      overflow: hidden; }
    .container .container-proimg .container-proimg-up li img {
      width: 3.41333rem;
      height: 4.90667rem; }
    .container .container-proimg .container-proimg-up li .left img {
      border-top-right-radius: 0.21333rem;
      border-bottom-right-radius: 0.21333rem; }
    .container .container-proimg .container-proimg-up li .right img {
      border-top-left-radius: 0.21333rem;
      border-bottom-left-radius: 0.21333rem; }
    .container .container-proimg .container-proimg-up li .center img {
      width: 7.68rem;
      height: 6.18667rem;
      border-radius: 0.21333rem; }
  .container .container-proimg .container-proimg-down .proimg-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.59733rem;
    color: gray;
    padding: 0.64rem 0; }
    .container .container-proimg .container-proimg-down .proimg-text .price {
      color: red;
      font-weight: 700;
      letter-spacing: -0.08533rem;
      font-size: 0.896rem;
      padding-bottom: 0.42667rem; }
    .container .container-proimg .container-proimg-down .proimg-text .count {
      padding-bottom: 0.42667rem; }
    .container .container-proimg .container-proimg-down .proimg-text .check em {
      color: black;
      padding: 0 0.21333rem; }
  .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item {
    padding: 0.21333rem 0.64rem;
    font-size: 0.64rem;
    color: gray;
    overflow: hidden; }
    .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item .piaoyi {
      padding-left: 1.19467rem; }
    .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item ul {
      float: right;
      display: flex;
      margin: 0.42667rem 0 0.34133rem 0; }
      .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item ul li {
        padding: 0.21333rem 0;
        width: 2.90133rem;
        border: 0.032rem solid #9e9e9e45;
        border-radius: 0.64rem;
        text-align: center;
        font-size: 0.55467rem;
        margin-left: 0.29867rem; }
      .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item ul .col {
        background-color: red;
        color: white; }
    .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item .clearing {
      float: right;
      display: flex;
      align-items: center; }
      .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item .clearing button {
        background-color: white;
        font-size: 0.85333rem;
        border: 0.064rem solid #9e9e9e45;
        color: gray; }
      .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item .clearing button:first-child {
        padding: 0 0.21333rem 0 0.34133rem;
        border-top-left-radius: 0.64rem;
        border-bottom-left-radius: 0.64rem; }
      .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item .clearing button:last-child {
        padding: 0 0.34133rem 0 0.21333rem;
        border-top-right-radius: 0.64rem;
        border-bottom-right-radius: 0.64rem; }
      .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item .clearing button:focus {
        outline: none;
        box-shadow: inset 0 0.04267rem 0.04267rem rgba(0, 0, 0, 0.075), 0 0 5px rgba(102, 175, 233, 0.6); }
      .container .container-proimg .container-proimg-down .proimg-check .proimg-check-item .clearing span {
        padding: 0.1792rem 0.64rem;
        border-top: 0.064rem solid #9e9e9e45;
        border-bottom: 0.064rem solid #9e9e9e45; }

.container .container-bottom {
  display: flex;
  justify-content: center;
  margin-top: 0.85333rem; }
  .container .container-bottom button {
    font-size: 0.64rem;
    width: 4.90667rem;
    color: white;
    border: none;
    padding: 0.42667rem 0; }
  .container .container-bottom button:first-child {
    background-color: #ff5722db;
    border-top-left-radius: 0.768rem;
    border-bottom-left-radius: 0.768rem; }
  .container .container-bottom button:last-child {
    background-color: red;
    border-top-right-radius: 0.768rem;
    border-bottom-right-radius: 0.768rem; }
  .container .container-bottom button:focus {
    outline: none;
    box-shadow: inset 0 0.04267rem 0.04267rem rgba(0, 0, 0, 0.075), 0 0 5px rgba(102, 175, 233, 0.6); }
