/* 底部菜单栏 */
.menuchange {
    display: flex;
    padding: 0.21333rem;
    border-top: 0.064rem solid whitesmoke; 
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.menuchange .menuchange-item {
    flex: 1;
    text-align: center; 
}
.menuchange .menuchange-item a{
    display: inline-block;
    color: gray;
}
.menuchange .menuchange-item a .item-pic span {
    font-size: 0.98133rem;
}

.menuchange .menuchange-item a .item-text {
    font-size: 0.512rem;
    padding: 0.128rem; 
}
