.container .searchtitle {
  padding: 0.42667rem 0.64rem;
  display: flex;
  align-items: center; }
  .container .searchtitle .iconfont {
    color: grey;
    font-size: 0.768rem; }
  .container .searchtitle .searchtitle-center {
    flex: 1;
    display: flex;
    background-color: whitesmoke;
    border-radius: 0.21333rem;
    overflow: hidden;
    margin: 0 0.42667rem 0 0.64rem; }
    .container .searchtitle .searchtitle-center span {
      padding-left: 0.21333rem;
      font-size: 1.06667rem; }
    .container .searchtitle .searchtitle-center input {
      flex: 1;
      font-size: 0.59733rem;
      border: none;
      background-color: whitesmoke;
      outline: none;
      color: grey; }
  .container .searchtitle .searchtitle-right {
    font-size: 0.64rem; }

.container .searchtop {
  background-color: whitesmoke;
  padding: 0 0.64rem; }
  .container .searchtop .searchtop-up {
    height: 2.13333rem;
    line-height: 2.13333rem; }
    .container .searchtop .searchtop-up span {
      display: block;
      font-size: 1.06667rem;
      color: red;
      float: left;
      width: 1.152rem; }
    .container .searchtop .searchtop-up em {
      font-size: 0.59733rem;
      display: block;
      float: left;
      color: grey; }
  .container .searchtop .searchtop-down ul {
    display: flex;
    flex-wrap: wrap; }
    .container .searchtop .searchtop-down ul li {
      height: 1.70667rem;
      line-height: 1.70667rem;
      background-color: white;
      padding: 0 0.64rem;
      border-radius: 0.85333rem;
      margin: 0 0.64rem 1.28rem 0;
      font-size: 0.64rem; }

.container .searchcenter {
  background-color: whitesmoke;
  padding: 0 0.64rem; }
  .container .searchcenter .searchcenter-up {
    height: 2.13333rem;
    line-height: 2.13333rem;
    color: grey; }
    .container .searchcenter .searchcenter-up span {
      font-size: 0.85333rem;
      float: left; }
    .container .searchcenter .searchcenter-up em {
      padding-left: 0.21333rem;
      font-size: 0.59733rem;
      float: left; }
  .container .searchcenter .searchcenter-down ul li {
    padding: 0.42667rem 0;
    font-size: 0.59733rem; }

.container .searchbottom {
  background-color: whitesmoke;
  text-align: center;
  height: 2.13333rem;
  line-height: 2.13333rem; }
  .container .searchbottom span, .container .searchbottom a {
    color: grey;
    font-size: 0.59733rem; }
